<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/148dfe07-c3dc-4785-8d12-d0264f8402a7%2Fsun.png?1507117914531" type="image"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <p>Pass a string as a parameter to determine if the string is a natural form or unix-timestamp date</p>
        <p>
          If the string is valid, the response will give both natural and unix format dates, like so:</p>
        <h3>
          { "unix" : "1450137600", "natural" : "December 15, 2015" }
        </h3>

        <p>
          Try out the examples below:
        </p>
        <ul>
          <li>valid natural</li>
          <li>invalid unix</li>
          <li>valid unix</li>
        </ul>
      </div>
   </body>

</html>
